# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.classpath
.project
.settings/
*.iml
*.iws
*.ipr

# Build
bin/
dist/
*.class
*.jar
*.war
